# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Flask stuff
instance/
.webassets-cache

# Environment variables
.env
.env.*
!.env.example
cityseva.env


# Database
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log

# Virtual environment
venv/
env/
ENV/
.venv/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Uploads
app/static/uploads/*
!app/static/uploads/.gitkeep 